# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Build
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test cache
.pytest_cache/
.coverage
htmlcov/

# Generated index (nếu sau này muốn sinh lại)
data/indexes/material_index.json